:root{
    --accent: #6c8389;
    --accent-light: #c4d6e0;
    --page: #FFFDF8;         
    --text: #26383D;   
    --contrast: #fffdf1;  
    --heading: #2E4A52;
}

body{
    margin: 0;
    background-image: url("assets/bg.png");
    background-color: var(--contrast);
}

.menu-panel {
    background-color: var(--accent);
    width: 100%;
    min-height: 88px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 20px;
}

.menu-panel img{
    height: 67px;
    width: auto;
    display: block;
}

.menu-panel nav{
    margin-left: auto;
    display: flex;
    gap: 24px;
}

.menu-panel a{
    text-decoration: none;
    color: var(--page);
}

.page{
    width: min(1160px, 100vw);
    background-color: var(--page);
    min-height: 100dvh;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
}

.content-section {
    display: grid;
    grid-template-columns: minmax(0, 65ch) minmax(220px, 300px);
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.hero-img {
    width: 100%;
    height: auto;
}

.content-panel{
    max-width: 1100px;
    max-width: 125ch;
    margin: 0 auto;
    padding: 48px 48px;
    box-sizing: border-box;
}

.contact-section{
    display: flex;
    justify-content: center;
    margin-top: 24px ;
}
.news-content{
    display: flex;
    align-items: center;
    gap: 12px;
}

.news-content p{
    margin: 0;
}

.news-content img{
    flex-shrink: 0;
}

.icon{
    padding: 8px;
}

.icon{
    width: 32px;
    height: 32px;
    fill: var(--accent);
}

a{
    text-decoration: none;
    color: var(--accent);
}

a:hover{

    color: var(--accent-light);
}

h1, h2, h3{
    color: var(--heading);
    font-weight: bold;
}

p{
    font-size: 20px;
    color: var(--text);
}

hr{
    border: 1px dashed var(--accent)
}

@media (max-width: 800px) {
    .content-section {
        grid-template-columns: 1fr;
    }

    .hero-img {
        width: min(280px, 100%);
        justify-self: center;
    }
}