:root{
    --accent: #6c8389;
    --accent-light: #c4d6e0;
    --filler: #FFF9C4;
}

body{
    margin: 0;
    background-color: var(--accent-light);
}

.menu-panel{
    background-color: var(--accent);
    width: 100%;
    min-height: 48px;
}

.page{
    width: min(1160px, 100vw);
    background-color: white;
    min-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 auto;
}

.title-section,
.contact-section{
    display: flex;
    justify-content: center;
}

.content-section{
    justify-self: center;
}

.icon{
    padding: 8px;
}

.page p{
    max-width: 70ch;
}

.icon{
    width: 32px;
    height: 32px;
    fill: var(--accent);
}

a{
    text-decoration: none;
    color: var(--accent-light);
}